@import "reset.scss";
body {
  font-family: Helvetic Neue, Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
a.logo {
  padding: 10px 0;
  float: left;
  width: 240px;
  img {
    width: 100%;
  }
}

section {
  clear: both;
  width: 100%;
  padding: 20px 0;
  background: #ccc;
  @include clearfix;
}
.row {
  margin: 0 auto;
  max-width: 1200px;
}
.column {
  display: block;
  box-sizing: border-box;
  width: 33.33%;
  padding: 10px;
  float: left;
  text-align: center;
  &.width-3 {
    width: 100%;
  }
}
.panel {
  padding: 20px;
  background: #eaeaea;
  &.alerts {
    background: #ca4436;
    color: #fff;
  }
}
ul {
  margin: 20px 0 0 20px;
  list-style: disc;
  li {
    line-height: 20px;
  }
  ul {
    margin: 0 0 0 20px;
    list-style: circle;
  }
}